NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
NOWPAYMENTS_IPN_CALLBACK_URL=
BASE_URL=

NOWPAYMENTS_PERMANENT_ADDRESSES_ENABLED=false

JWT_SECRET=
ALLOW_DEV_USER_ID=false

DB_FILE=./deposits.sqlite

PRICE_CURRENCY=usd
DEFAULT_PAY_CURRENCY=usdttrc20
SUPPORTED_USDT_CURRENCIES=usdttrc20,usdtbsc,usdt,usdtsol
MIN_DEPOSIT_USD=1
PERMANENT_ADDRESS_SEED_AMOUNT_USD=1

CORS_ORIGIN=
